body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.bodyImage {
    background: url(http://www.planwallpaper.com/static/images/i-should-buy-a-boat.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.customtextbox {
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #01579B;
}

.custombutton {
    border-radius: 4px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #03A9F4; 
    color: white; 
    border: 1px solid #039BE5;
}

.custombutton:hover {
    background-color: #039BE5;
    color: white;
}

#footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    width: 85%;
  }

.center {
    width: 370px;
    height: 40px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.listTitle {
    margin-top: 10px;
    font-size: 16px;
}

.listUrl {
    margin: 0px;
}

.listDescription {
    margin: 0px;
}